body {
    margin: 0;
    padding: 0;
}

.row {
    justify-content: space-around;
    
}

.navbar {
    width: 95%;
    height: 10vh;
}

.navbar-nav {
    width: 45%;
    justify-content: space-evenly;
    
}

.navbar-brand {
    font-size: 1.2em;
}

.nav-container {
    height: 10vh;
    font-size: 1.5em;
    background-color: #007bff;
}

.log-items {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.log-items li {
    margin-left: 2em;
}

.mt-main {
    margin-top: 5vh;
}

.mt-form {
    margin-top: 15vh;
}

#btn-save {
    margin-top: 20px;
}

.card img {
    height: 35vh;
}

.media {
    align-items:stretch;
    height: 50vh;
    
}

.media img {
    width: 40%;
}

.media h5 {
    font-size: 2.5em;
}

.media p {
    font-size: 1.5em;
    margin-top: 30%;
}

.media-desc-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
}

.star-price-qty {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

